page-information {
    .main{
        background-image: url('../../assets/all.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: fixed;
    }
}
